<header class="header">
  <div class="container">
    <a href="#" routerLink="/" class="logo">Food Mine</a>
    <nav>
      <ul>
        <li>
          <a routerLink="/login">Cart</a>
        </li>
        <li class="menu-container">
          <a routerLink="/dashboard">Lud</a>
          <div class="menu">
            <a routerLink="/profile">Profile</a>
            <a routerLink="/orders">Orders</a>
            <a>Logout</a>
          </div>
        </li>
        <li>
          <a routerLink="/cart-page"> Cart <span></span> </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
